<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% extends 'baseindex.html' %}
{% load static %}

{% block body_block %}


<div class="row">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link "  href="{% url 'friends' %}" role="tab">Friends Suggestion</a>
        </li>
        <li class="nav-item">
            <a class="nav-link  " href="{% url 'friend_list' %}" role="tab">List Friends</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active "  href="{% url 'friend_requests' %}" role="tab">Friend Requests</a>
        </li>
        <li class="nav-item">
            <a class="nav-link "  href="{% url 'list_block' user.id %}" role="tab">List Block</a>
        </li>
        <li class="nav-item">
            <a class="nav-link "  href="{% url 'list_follow' user.id %}" role="tab">List Follow</a>
        </li>
        
    </ul>
    {% if friend_requests %}
    
    {% for request in friend_requests %}
    <div class="col-xl-6 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <!-- <img src="{{ request.profile_pic.url }}" alt="" style="width: 45px; height: 45px"
                            class="rounded-circle"> -->
                        <div class="ms-3">
                            <p class="fw-bold mb-1 name"><a style="text-decoration: none; color:#626262; hover-color:aqua" href="{% url 'other_profile' request.sender.id %}">{{ request.sender }}</a></p>
                            <p class="text-muted mb-0 email">{{ request.sender.email }}</p>
                        </div>
                    </div>
                    <span class="badge rounded-pill bg-success">Active</span>
                </div>
            </div>
            <div class="card-footer border-0 bg-light p-2 d-flex justify-content-around">
                <form action="{% url 'accept_friend_request' request.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary m-0 text-reset" data-ripple-color="primary">Accept</button>
                </form>
                <form action="{% url 'reject_friend_request' request.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger m-0 text-reset" data-ripple-color="primary">Refuse</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>Không có lời mời kết bạn đang chờ xác nhận.</p>
    {% endif %}
</div>
<style>
    .email {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}
.name {
white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}
</style>

{% endblock %}