{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'css/homeindex.css' %}" rel="stylesheet" type="text/css" media="all" />
    <title>Profle - Socialbook</title>
	<link href="{% static 'css/profile.css' %}" rel="stylesheet" type="text/css" media="all"/>
  <script src="https://kit.fontawesome.com/3a4b0951d6.js" crossorigin="anonymous"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://kit.fontawesome.com/ef7e2b893b.js" crossorigin="anonymous"></script>
  </head>

  <body>
    
    
    <nav class="navbar">
      <div class="nav-left">
          <a href="{% url 'profileindex' %}">
              <img  class="logo" src="{% static 'images/logo.png' %}" alt="">
          </a>
          <ul class="navlogo">
              <li><img src="{% static 'images/notification.png' %}"></li>
              <li><img src="{% static 'images/inbox.png' %}"></li>
              <li><img src="{% static 'images/video.png' %}"></li>
          </ul>
      </div>
      <div class="nav-right">
          <div class="search-box">
              <form action="{% url 'search' %}" method="get">
                  
                  <input type="text" name="q" placeholder="Tìm kiếm">
                  <button class="btn btn-outline-primary m-1" type="submit"><img src="{% static 'images/search.png' %}" alt=""></button>
                </form>
              
              
          </div>
          <div class="profile-image online" onclick="UserSettingToggle()">
              <img src="{{ user_profile.profile_pic.url }}" style="width: 45px; height: 45px" alt="">
          </div>

      </div>
      <div class="user-settings">
          <div class="profile-darkButton">
          <div class="user-profile">
              <img  src="{{ user_profile.profile_pic.url }}" alt="" style="width: 45px; height: 45px">
              <div>
                <p> {{ user_profile.nickname }}</p>
                  <a href="{% url 'profile' %}">See your profile</a>
              </div>
          </div>
          <div id="dark-button" onclick="darkModeON()">
              <span></span>
          </div>
          </div>
          <hr>
          
          <hr>
          <div class="settings-links">
              <img src="{% static 'images/setting.png' %}" alt="" class="settings-icon">
              <a href="{% url 'setting'%}">Settings or Privary <img src="images/arrow.png" alt=""></a>
          </div>
          <div class="settings-links">
              <img src="{% static 'images/Display.png' %}" alt="" class="settings-icon">
              <a href="#">Display or Accessibility <img src="{% static 'images/arrow.png' %}" alt=""></a>
          </div>

          <div class="settings-links">
              <img src="{% static 'images/logout.png' %}" alt="" class="settings-icon">
              <a href="{% url 'user_login' %}">Logout <img src="{% static 'images/arrow.png' %}" alt=""></a>
          </div>

      </div>
  </nav>
    <!-- profile-page--- -->
    {% if are_block == '1'%}
    <div class="profile-container">
      <img src="images/cover.png" class="coverImage" alt="" />
      <div class="dashboard border border-1 "style="background-color: #f6f6f6;">
        <div class="left-dashboard ">
          <img src="{{ user.profile_pic.url }}" style="width: 8%" class="dashboard-img" alt="" />
          <div class="left-dashboard-info">
            <h5>{{ user.nickname }}<a style="padding-left: 5px;" href="{% url 'setting' %}"><i  class="fa-solid fa-pen-to-square"></i></a></h5>
            <p style="margin: auto;">
              Bio: {{ user.bio }}</p>
            <p>{{friends.count}} Friends</p>
            <div class="mutual-friend-images">
              {% for friend in user.friends.all %}
              <img src="{{ friend.profile_pic.url }}" alt="" style="width: 35px; height: 35px">
            
            {% empty %}
            <li>No friends found.</li>
            {% endfor %}
            </div>
          </div>
        </div>
        <div class="right-dashboard-info">
          <div class="right-dashboard-info-top">
            
            {% if are_friends == '1'%}
            <form id="deleteForm" action="{% url 'delete_friend' user.id %}" method="post">
              {% csrf_token %}
              {% comment %} <button type="submit" style="border: none; border-radius: 5px;padding: 2px;"><i class="fa-solid fa-user-pen pe-2"></i>UnFriends</button> {% endcomment %}
              <button type="submit"><i class="fa-solid fa-user-pen pe-2"></i>Un Friends</button>
          </form>
            {% elif are_friends == '2' %}
            <form action="{% url 'add_friend' user.id %}" method="post">
              {% csrf_token %}                             
              <button type="submit" ><i class="fas fa-user-plus fa-beat"></i>Add Friends</button>
          </form>
                {% elif are_friends == '0' %} 
            {% endif %}

            <button type="button"><i class="far fa-envelope"></i> messages</button>
          </div>
          <div class="right-div-single-logo">
            <a href="#"><i class="fas fa-ellipsis-h"></i></a>
          </div>
        </div>
      </div>

      <div class="container content-profile-container">
        <div class="left-sidebar profile-left-sidebar">
        
          <div class="left-profile-sidebar-top gallery border border-1 "style="background-color: #f6f6f6;">
            <div class="heading-link profile-heading-link">
              <h4>Photos</h4>
              <!-- Nút "All photo" để hiển thị tất cả các hình ảnh -->
              <button class="btn-show-all-photo btn btn-light" >
              <a >All Photos</a></button>
              <button type="button" class="btnclose btn-close" aria-label="Close"></button>

            </div>
            <div class="gallery-photos ">
               
                <div class="gallery-photos-rowFirst" id="six-photo">
                  <!-- Hiển thị tối đa 6 hình ảnh ban đầu -->
                  
                  {% for image in all_images %}
                     {% if forloop.counter <= 6 %}
                         <img src="{{ image.images.url }}" alt="" class="gallery-img">
                     {% endif %}
                    {% endfor %}
                  
                </div>
              
              <!-- Thẻ HTML chứa tất cả các hình ảnh -->
               <div class="gallery-photos-rowFirst" id="all-photos">
                  {% for image in all_images %}
                      <img src="{{ image.images.url }}" alt="" class="all-photo-img">
                  {% endfor %}
                </div>
              
            </div>
            
          </div>

          <div class="left-profile-sidebar-top gallery border border-1 "style="background-color: #f6f6f6;">
            <div class="heading-link profile-heading-link">
              <h4>Friends</h4>
              <a href="">All Friends</a>
            </div>

            <div class="gallery-photos">
              <div class="gallery-photos-rowFirst">
                {% for friend in friends %}
                <div class="first-friend">
                  <img src="{{ friend.profile_pic.url }}" alt="" style="width: 80px; height: 80px">
                  <p style="text-align: center;width: 80px; height: 80px">{{friend.nickname}}</p>
                </div>
              
              {% empty %}
              <li>No friends found.</li>
              {% endfor %}
              </div>
            </div>
          </div>
        </div>


        <div class="content-area profile-content-area">
          
          {% comment %}Bài viết{% endcomment %}
          {% for post in posts %}
            <div class="status-field-container write-post-container border border-1 "style="background-color: #f6f6f6;">
              <div class="user-profile-box">
                <div class="user-profile">
                  <img src="{{ user.profile_pic.url }}" style="width: 45px; height: 45px" alt="" />
                  <div>
                    <p>{{ user.nickname }}</p>
                    <small>{{ post.created_at }}</small>
                  </div>
                </div>
                <div>
               
                </div>
              </div>
              <div class="status-field"style="display: block;
              overflow: hidden;">
                <p>{{ post.title }}</p>

                {% for image in post.image_set.all %}
                {%if post.image_set.count == 1 %}
                  <img style="width: 50%;display: block;
                  margin-left: auto;
                  margin-right: auto; " src="{{ image.images.url }}" />
                  {%else%}
                  <img style="width: 40%;
                  float: left
                  padding: 5px; "
                   src="{{ image.images.url }}" />
                  {%endif%}
                {% endfor %}
              </div>
              {% comment %}tym va bình luận{% endcomment %}

              <!-- Nút like -->

              <div class="post-reaction">
                <div class="activity-icons">
                  <div>
                    <button style="border: none;background-color: #ffffff;" type="button" onclick="likePost({{ post.id }})">
                      <img src="{% static 'images/like.png' %}" alt="" />
                      <span>{% with likes=post.like_set.all %}
                        {{ likes.count }} 
                      {% endwith %}</span>
                    </button>
                  </div>
                  <div>

                      <button style="border: none;background-color: #ffffff;" type="button" onclick="addComment({{ post.id }})">
                        <img src="{% static 'images/comments.png' %}" alt="" />
                        <span>{{ post.num_comment }}</span>
                      </button>
                  </div>
                  <div>
                    <img src="{% static 'images/share.png' %}" alt="" />35
                  </div> </br>

                  <div id="postComments_{{ post.id }}" class="show-cmt">
                    <ul>
                      {% for comment in comments %}
                        {% if post.id == comment.post.id %}
                        <div class="d-block m-3">
                        <div class="  rounded p-2 " style=" background-color: #f0f2f5;  display: block;">
                        <div>
                        <img src="{{ comment.author.profile_pic.url }}" style="width: 30px; height: 30px; border-radius: 50%;" alt="" />
                         <strong >{{ comment.author.nickname }}</strong>
                        </div>
                         <br>
                          <p class="ps-5" style="margin: auto;">{{ comment.content }}</p>
                        
                        
                        </div>
                        <small class="p-3">{{ comment.created_at|timesince  }}</small>
                      </div>
                        {% endif %}
                      {% endfor %}
                    </ul>
                  </div>
                  <!-- Nút thêm bình luận -->
                  {% comment %} <button type="button" onclick="addComment({{ post.id }})">Add Comment</button> {% endcomment %}

                  <!-- Form để thêm bình luận -->
               
                    <form id="add-comment-form">
                      {% csrf_token %}
                      <div class="form-check-inline ">
                        <input type="hidden" name="post_id" value="{{ post.id }}" />
                     
                        <input class=" me-2"  placeholder="Add Comment"  name="content"></input>
                        <button class = "create-comment btn btn-info" type="submit">Comment</button>
                      </div>
                     
                    </form>

               
                  <script>
                   
                    document.querySelector('#add-comment-form').addEventListener('submit', function (event) {
                      event.preventDefault(); // Hủy bỏ hành động mặc định của form
                      const form = event.target;
                      const formData = new FormData(form);
                      const xhr = new XMLHttpRequest();
                      xhr.open('POST', '/add_comment/');
                      xhr.onreadystatechange = function () {
                        if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                          location.reload(); // Tải lại trang để hiển thị bình luận mới
                          document.querySelector('button[type="submit"]').removeAttribute('disabled'); // xóa thuộc tính disabled
                          }
                         }
                      document.querySelector('button[type="submit"]').setAttribute('disabled', 'disabled'); // thêm thuộc tính disabled
                      xhr.send(formData);
                    });
                 
                  </script>
                </div>
                <div class="post-profile-picture">
                  <img src="images/profile-pic.png " alt="" /> <i class="fas fa-caret-down"></i>
                </div>
              </div>
            </div>
          {% endfor %}

          <button type="button" class="btn-LoadMore" onclick="LoadMoreToggle()">Load More</button>
        </div>
      </div>
    </div>
    {%else%}
    <div class="" style=" text-align: center;">
      <p class="p-4">You have blocked this user</p>
    </div>
    {%endif%}
    <footer id="footer">
      <p>Group 4</p>
    </footer>
    <script src="{% static 'js/function.min.js' %}"></script>
  </body>
</html>
